fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
psycopg[binary]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.3
python-multipart
pydantic
pydantic-settings
email-validator
python-dotenv
psycopg2-binary
google-generativeai